.Navbar{
    background-color: #00A884;
    height: 15vh;
}

.Chat{
    background-color: #F0F2F5;
    height: 95vh;
    width: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ChatNavbar{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 4%;
    background-color: #F0F2F5;
}

.ChatMessages{
    height: 95vh;
    width: 30%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-50%, -50%);
}

.ChatMessages h4{
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}

.ChatInfo{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.ChatInfo p{
    margin-top: 3%;
    margin-left: 5%;
}

.ChatIcon{
    margin-top: 15px;
}

.ChatIcon, .ContactsIcon, .GroupsIcon, .NotificationIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.SettingsIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: auto;
}

.iconButton {
    background-color: transparent;
    border: none;
}

.ChatList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChatList p{
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.ContainerCard{
    width: 95%;
    margin-top: 10px;
}

.Card{
    margin-bottom: 20px;
}

.Card:hover{
    cursor: pointer;
}

.ChatBox{
    height: 95vh;
    width: 118vh;
    position: absolute;
    margin-left: 100%;
    bottom: 0%;
    background-color: #EFEAE2;
}

.ChatBoxHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F2F5;
    height: 8vh;
}

.ChatBoxHeader h5{
    margin-left: 20px;
}

.ChatBoxHeader button{
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.ChatBoxMessages{
    height: 82.8vh;
    width: 100%;
    position: relative;
    bottom: 4%;
}

.ChatBoxInput{
    height: 8vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 4%;
    background-color: #F0F2F5;
}

.buttonClip{
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.buttonSend{
    background-color: transparent;
    border: none;
    margin-right: 5px;
}

.ChatBoxInput textarea{
    width: 90%;
    height: 6vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: none;
}

.ChatBoxInput textarea::placeholder{
    position: absolute;
    top: 40%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.ChatBoxInput textarea{
    padding: 0.5em 1em 1em 1em;
    box-sizing: border-box;
}

.ChatMessageSent{
    position: relative;
    background-color: #D9FDD3;
    width: 30%;
    height: auto;
    top: 7%;
    margin-left: 68%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ChatMessageSent p{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ChatMessageReceived{
    position: relative;
    background-color: #fff;
    width: 30%;
    height: auto;
    top: 7%;
    margin-left: 2%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ChatMessageReceived p{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1500px) {
    .ChatBox{
        width: 85vh;
    }

    .ChatBoxInput textarea{
        width: 85%;
    }

    .ChatBoxInput textarea::placeholder{
        position: absolute;
        top: 40%;
        left: 17%;
        transform: translate(-50%, -50%);
    }
}
